<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FengYingJie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0449AFD01E8362120071E9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0449AFE91E8362130071E9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0449AFF41E8362130071E9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
